{% extends 'base_non_inscrit.html' %}

{% block content %}


<body>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenue sur la page d'accueil de calcul ton volume !</h1>

        {% if user.is_authenticated %}
            <a href="{% url 'listePieces' %}" class="btn btn-outline-primary">Les pièces</a>
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Client (en création)</a>
            <a href="http://127.0.0.1:8000/admin/" class="btn btn-outline-primary">Admin</a>

          <div class="imageCamion">
              <img src="media/camion déménagement.png" alt="image camion" style="max-width: 400px;">
          </div>
        {% else %}

        <h3 class="fw-light">Avant de pouvoir accéder au contenu de cette application, vous devez vous connecter</h3><br>

            <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg">Se connecter</a>
            <a href="{% url 'signup' %}" class="btn btn-outline-primary btn-lg">Inscription</a>

        {% endif %}

      </div>
    </div>
</section>

{% endblock %}