{% extends 'base.html' %}

<title>{% block title %}{{ type_place }}{% endblock title %}</title>

{% block content %}

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">


        <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Accueil</a>
            <a href="{% url 'listePieces' %}" class="btn btn-outline-primary">Les pièces</a>
            <a href="{% url 'inventaire-par-lieu' %}" class="btn btn-outline-primary">Les articles</a>
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Client</a>
        {% endif %}

        </div>
             <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>

        </div>
    </nav>

<!-- Récupérer la liste de mes articles pour chaque pièce !-->
    <ul>
        {% for item in typePiece %}
            <li>
                {{ item.items }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}