{% extends 'base.html' %}

<title>{% block title %}{{ type_place }}{% endblock title %}</title>

{% block content %}

        {% if user.is_authenticated %}
            <a href="{% url 'home' %}" class="btn btn-outline-primary">Accueil</a>
            <a href="{% url 'listePieces' %}" class="btn btn-outline-primary">Les pièces</a>
        {% endif %}


        {% for i in articleParPiece %}

                <p>{{ i.nomArticle }}</p>


        {% endfor %}


<!-- c'est sur cette page que doivent être les boutons + et -  des ajouts d'articles!-->

{% endblock %}

<!--<p> <a href="{% url 'addMissionPiece' i.nomPieceArticle %}"> Ajout </a></p>-->