{% extends 'base.html' %}

<title>{% block title %}Pièces{% endblock title %}</title>


{% block content %}

<a href="{% url 'listePieces' %}" class="btn btn-outline-primary">Les pièces</a>


    <h2>{{ Piecedeliste.nomPiece |title }}</h2> <!-- |title permet de mettre la première lettre en MAJ!-->
    <p><a href=#> <img src="{{ Piecedeliste.imagePiece.url }}" alt="{{ Piecedeliste.nomPiece }}" style="max-width: 250px;"></a></p>


<!-- J'affiche la quantité des pièces !-->
<div>
    {% for i in quantitePiece %}
        {% if i.pieceMission == Piecedeliste %}
            <div>
                <h3><button><a href="{% url 'RemoveMissionPiece' Piecedeliste.nomPiece %}"> [-] </a></button>

            {% if i.quantitePiece <= 0 %}

                {% url 'listePieces' as redirection_url %}

                    {% if redirection_url %}
                    <script>window.location.href = '{{ redirection_url }}';</script>
                    {% endif %}

            {% else %}

                {{ i.pieceMission }} : {{ i.quantitePiece }}

            {% endif %}
            <button> <a href="{% url 'addMissionPiece' Piecedeliste.nomPiece%}"> [+] </a></button></h3>
            </div>
        {% endif %}
   {% endfor %}

    <div>
    {% for a in ListeArticles %}
        {% if a.nomPieceArticle == Piecedeliste.nomPiece %}
            <div>
                {{ a.nomArticle | title }}<br>
                <button><a href="{% url 'RemoveMissionArticle' Piecedeliste.article %}"> [-] </a></button>
                {{ quantiteArticle.pieceMission }}
                <button><a href="{% url 'addMissionArticle' Piecedeliste.article %}"> [+] </a></button>

            </div>
        {% endif %}
    {% endfor %}
    </div>
    <br>
<div>
    {% for b in quantiteArticle %}
        {% if b.articlesMission.nomPieceArticle == Piecedeliste.nomPiece %}
            <div>
                {{ b.articlesMission.nomArticle | title }}<br>
                <button><a href=#"> [-] </a></button>
                {{ b.quantiteArticle }}
                <button><a href=#"> [+] </a></button>
            </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}

