{% extends 'base.html' %}

<title>{% block title %}Pièces{% endblock title %}</title>


{% block content %}

<a href="{% url 'listePieces' %}" class="btn btn-outline-primary">Les pièces</a>


    <h2>{{ Piecedeliste.nomPiece |title }}</h2>
    <p><a href=#> <img src="{{ Piecedeliste.imagePiece.url }}" alt="{{ Piecedeliste.nomPiece }}" style="max-width: 250px;"></a></p>

<div>
    <div class="PièceDétail">
        {% for i in quantitePiece %}
            {% if i.pieceMission == Piecedeliste %}
                <div>
                    <h3><button><a href="{% url 'RemoveMissionPiece' Piecedeliste.nomPiece %}"> [-] </a></button>

                    {% if i.quantitePiece <= 0 %}

                        {% url 'listePieces' as redirection_url %}

                            {% if redirection_url %}
                            <script>window.location.href = '{{ redirection_url }}';</script>
                            {% endif %}

                    {% else %}

                        {{ i.pieceMission | title  }} : {{ i.quantitePiece }}

                    {% endif %}
                    <button> <a href="{% url 'addMissionPiece' Piecedeliste.nomPiece%}"> [+] </a></button></h3>

                </div>
    </div>

    <div class="articlesParPièce">

        {% for a in ListeArticles %}

                    {% if a.nomPieceArticle == Piecedeliste.nomPiece  %}

                        <button><a href="{% url 'removeMissionArticle' a.slugArticle %}"> [-] </a></button>

                            {{ a.nomArticle | title }} :

                                {% for q in quantiteArticle %}

                                    {% if a.nomArticle == q.articlesMission.nomArticle %}

                                            {{ q.quantiteArticleA }}

                                    {% endif %}

                                {% endfor %}

                        <button><a href="{% url 'addMissionArticle' a.slugArticle %}"> [+] </a></button><br>
                    {% endif %}

        {% endfor %}

    </div>

       {% endif %}
   {% endfor %}
</div>
{% endblock %}


