{% load static %}

<!DOCTYPE html>
<html lang="fr">


<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'inventaire/css/bootstrap.css' %}"/>
    <title>{% block title %}Calcul ton dem{% endblock title %}</title>

</head>


<body>
{% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="signout">

                <a href="{% url 'logout' %}" class="btn btn-outline-primary">Déconnexion ({{ user.username }})</a>

        </div>
    </div>
{% endif %}



<div class="container-fluid">

    {% block content %}

    {% endblock %}

</div>

</body>
</html>