{% extends 'accounts/base.html' %}

{% block title%}<title>login</title>{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <h3>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" name="username" id="username" required>
        </h3>
        <h3>
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" required>
        </h3>
        <button type="submit">Connexion</button>
    </form>

        <h3>
            Si tu t'es retrouvé ici par erreur et que tu n'as pas de compte, créé le !
        </h3>
        <button><a href="{% url 'signup' %}">Créer mon compte</a></button>

{% endblock %}